body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFF; 
}

/*HEADER*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    width: auto;
}

nav li{
    margin: 20px;
}