body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFF; 
    /*display: flex;
    flex-flow: column wrap;
    justify-content: center;*/
    
}
#container{
    width: 100%;
    max-width: 1200px;
}

/*HEADER*/

header {
	display: flex;
	justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
	display: flex;
}

nav li {
	list-style: none;
	padding-left: 30px;
}

/*BANDEAU*/

#bandeau{
    width: 100%;
    height: 450px;
    position: relative;
    /*background-image: url(images/backgroung_image.jpg);*/
}
#fond img{
    width: 100%;
    height: 450px;
    position: absolute;
    object-fit: cover;
}
#logotitre{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}   
#logotitre img{
    max-width: 20%;
    height: auto;

}

#bandeau h1{
    color: #FFF;
    font-size: 2em;
    font-weight: bold;
}

/*INFORMATIONS DETAILS*/
#explications{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: auto;
    padding-top: 30px;
}
.pres{
    text-align: center;
    margin: auto;
    font-size: 0.9em;
    color:rgb(87,87,87);
    font-weight: 200;
}
#skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#skills article{
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    text-align: center;
}

#skills h2{
    font-size: 1.4em;
}

#skills p{
    font-size: 0.8em;
}

.citation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.citation h2{
    color: rgb(87,87,87);
    font-size: 1.4em;
    text-align: center;
    margin-top: 30px;
}
.citation h3{
    color: rgb(87,87,87);
    font-weight: 400;
    font-size: 1em;
}

/*FOOTER*/
footer{
    background-color: rgb(91, 53, 157);
    color: #FFF;
    padding-top: 20px;
}

footer h2{
    font-size: 0.8em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}
.icones{
    display: flex;
    justify-content: center;
}
i{
    padding: 0px 30px 0px 30px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.6);
}


#case{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 20px;
}

#case h3{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1em;
}
#case li, p{
    padding-left: 20px;
    font-size: 1em;
}